<div class="book-detail p-4" style="background-image: url('<%=book.image%>'); background-size: cover; background-position: center; width: 100%; min-height: 40vh; border-radius: 10px;">
    <p><%=book.title%></p>
    <p>By <%=book.author%></p>
    <span><%=book.description%></span>
    <p class="category"><%=book.category%> | Published in <%=book.year%></p>
</div>